html
    head
        title= 'GDAX Rough UI'
        script(src='/socket.js')
        link(href='/index.css', rel='stylesheet', type='text/css')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        script(src='/build.js')
